.pagination-table {
  display: flex;
  align-items: center;

  .first {
    margin-top: 3px;

    .first-icon,
    .first-icon-disabled {
      color: #fff;
      font-size: 20px;
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #dadada;
      }
    }

    .first-icon-disabled {
      color: rgba(253, 250, 250, 0.412);
      cursor: default;

      &:hover {
        color: rgba(253, 250, 250, 0.412);
      }
    }
  }

  .prev {
    margin-top: 3px;

    .prev-icon,
    .prev-icon-disabled {
      color: #fff;
      font-size: 20px;
      margin-right: 5px;
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #dadada;
      }
    }

    .prev-icon-disabled {
      color: rgba(253, 250, 250, 0.412);
      cursor: default;

      &:hover {
        color: rgba(253, 250, 250, 0.412);
      }
    }
  }

  .nums {
    .num,
    .num-active {
      color: #fff;
      font-size: 16px;
      margin: 0 5px;
      cursor: pointer;
      font-family: "Courier New", Courier, monospace;
      transition: all 0.1s ease-in-out;

      &:hover {
        font-weight: 700;
      }
    }

    .num-active {
      font-weight: bold;
    }
  }

  .last {
    margin-top: 3px;

    .last-icon,
    .last-icon-disabled {
      color: #fff;
      font-size: 20px;
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #dadada;
      }
    }

    .last-icon-disabled {
      color: rgba(253, 250, 250, 0.412);
      cursor: default;

      &:hover {
        color: rgba(253, 250, 250, 0.412);
      }
    }
  }

  .next {
    margin-top: 3px;

    .next-icon,
    .next-icon-disabled {
      color: #fff;
      font-size: 20px;
      margin-left: 5px;
      transition: all 0.1s ease-in-out;
      cursor: pointer;

      &:hover {
        color: #dadada;
      }
    }

    .next-icon-disabled {
      color: rgba(253, 250, 250, 0.412);
      cursor: default;

      &:hover {
        color: rgba(253, 250, 250, 0.412);
      }
    }
  }

  @media (min-width: 1920px) {
    .first {
      .first-icon,
      .first-icon-disabled {
        font-size: 36px;
      }
    }

    .prev {
      .prev-icon,
      .prev-icon-disabled {
        font-size: 30px;
        margin-right: 15px;
      }
    }

    .nums {
      .num,
      .num-active {
        font-size: 24px;
        margin: 0 10px;
      }
    }

    .last {
      .last-icon,
      .last-icon-disabled {
        font-size: 36px;
      }
    }

    .next {
      .next-icon,
      .next-icon-disabled {
        font-size: 30px;
        margin-left: 15px;
      }
    }
  }
}
